<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <div class="card-header">
      <mat-card-title-group>
        <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
        <mat-card-subtitle>{{assignmentTransmis.matiere}}, {{assignmentTransmis.professeur}}</mat-card-subtitle>
      </mat-card-title-group>
      <img mat-card-sm-image [src]="assignmentTransmis.avatar" class="imageAvatar">
    </div>


    <mat-card-content>
      <p *ngIf="assignmentTransmis.rendu">Travail à rendre le {{assignmentTransmis.dateDeRendu | date}}
        par l'élève  {{assignmentTransmis.eleve}}
      </p>
      <p *ngIf="!assignmentTransmis.rendu">Travail non rendu, {{assignmentTransmis.eleve}} ne l'a pas encore envoyé</p>
      <p *ngIf="assignmentTransmis.note" class="note">La note de ce devoir est : {{assignmentTransmis.note}}/20</p>
      <p *ngIf="!assignmentTransmis.note" class="note">Ce travail n'a pas encore été noté</p>
    </mat-card-content>
    <mat-card-actions class="card-action">
      <div class="renduDiv">
        <mat-checkbox *ngIf="!assignmentTransmis.rendu && assignmentTransmis.note" (click)="onAssignmentRendu()">Devoir rendu</mat-checkbox>
        <button mat-button (click)="onClickEdit()" [disabled]="!isLogged()">Edit</button>
      </div>
      <button mat-button (click)="deleteButton()" [disabled]="!isAdmin()"> Effacer</button>
    </mat-card-actions>
  </mat-card>


</div>
