.rendu {
  color:green;
}

.nonRendu {
  color:red;
}

.container{
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  margin-left: 1%;
}
.ajouterBtn{
  align-self: flex-end;
  margin: 1%;
}


